.section{
    display: flex;
    width: $mainSize;
    @media screen and (min-width: 370px) and (max-width: 414px) {
        flex-direction: column;
    }
    @media screen and (min-width: 414px) and (max-width: 768px) {
        flex-direction:column;
    }
    .image1 {
        width: 20%;
        img{
        @include imgSize (500px,100%,cover)
        }
        @media screen and (min-width: 370px) and (max-width: 414px) {
            .image1{
@include imgSize1( 300px,100%);
            }   
        }
    }
    @media screen and (min-width: 414px) and (max-width: 768px) {
        .image1{
    @include imgSize1(300px, 100%);
        }
    }
    .big-text{
    @include Flex (column,center,center,60%);
        background-color:$bgColor;
         p{
@include font (60px,center,600);
         font-family: Georgia, 'Times New Roman', Times, serif;
        }
        span{
@include font (30px,center,600)
        }
        button {
            padding: 8px;
            background-color:$bgColor1;
            a{
                text-decoration: none;
                color: antiquewhite;
            }
            &:hover{
                background-color: gray;
                border: none;
                transition: .3s ease;
                padding: 8px;
            }
        }
    }
    @media screen and (min-width: 370px) and (max-width: 414px) {
        .big-text{
            width: $mainSize;
        }
    }
    @media screen and (min-width: 414px) and (max-width: 768px) {
    .big-text{
        width: $mainSize;
    }
}
}
#zeynab1{
    .col-lg-3{
        img{
        width: 100%;
        object-fit: cover;
        }
        .text-p p{
            margin-top: 20px;
        }
    }
    .text-row p{
@include row-p (2rem,1rem);
    }
}
#sevda1{
    background-color: rgb(252, 243, 231);
    padding: 15px;
    .col-lg-3{
        margin-bottom: 20px;
        
        button{
@include button (1px solid,8px,100%,inherit);
            a{
@include a(none,small);
                color:$bgColor1;
            }
        }
        &:hover{
            background-color:$bgColor1;
            transition: .3s ease;
            a{
            color: $bgColor;    
            }
            
        }
    }
    .text-row p{
        font-size: 2rem;
        margin-top: 1rem;
    }

}
#style{
    .col-lg-6{
@include stylesize(2px solid,3rem,1rem);
     .image-2{
    img{
        width: 100%;
        object-fit: cover;
    } 
    }
    .text-10{
        margin-bottom: 1rem;
        a{
            text-decoration: none;
            color: $bgColor1;  
            
        }   
    }
    .text-13{
        text-align: end;
        margin-bottom: 1rem;
        a{
            text-decoration: none;
            color: black;  
            
        }   
    }
    .text-11{
        p{
            font-size: 12px;
            margin-top: 1rem;
        }
        a{
            color: black;
            font-size: 12px;
        }
        &:hover{
            a,p{
         color: gray;
         transition: .3s;
            }
            
        }
    }
}
}
